config SND_LPC313X_SOC
        tristate "SoC Audio for the NXP LPC313X System-on-a-Chip"
				depends on ARCH_LPC313X && SND_SOC && MACH_EA313X
        help
          Say Y or M if you want to add audio support for the LPC313X.
          You will also need to to select the audio interfaces to
	  support below.

config SND_LPC315X_SOC
	tristate "SoC Audio for the NXP LPC315X System-on-a-Chip"
	depends on ARCH_LPC313X && SND_SOC && MACH_EA3152
	help
	Say Y or M if you want to add audio support for the LPC313X.
	You will also need to to select the audio interfaces to
	support below.

config SND_LPC313X_SOC_I2S
        bool

config SND_LPC313X_SOC_I2S_UDA1380
        bool "SoC Audio for the UDA1380 CODEC using I2S/I2C"
        depends on SND_LPC313X_SOC
        select I2C_PNX
        select SND_LPC313X_SOC_I2S
        select SND_SOC_UDA1380
        help
          Say Y here if you want to add support for SoC audio on the
	  LPC313x with the UDA1380 CODEC. This requires an I2S channel
	  and I2C channel connected to the I2C interface of the
	  UDA1380 codec.

config SND_LPC315X_SOC_I2S_LPC315X_CODEC
	bool "SoC Audio for the Analog Die CODEC using I2S/I2C in 315X SoC"
	depends on SND_LPC315X_SOC
	select I2C_PNX
	select SND_LPC313X_SOC_I2S
	select SND_SOC_LPC315X_CODEC
	help
		Say Y here if you want to add support for SoC audio on the
		LPC315x with the Analog Die CODEC. This requires an I2S channel
		and I2C channel connected to the I2C interface of the
		Analog Die CODEC.

config SND_USE_EA3131
        bool "Enable audio configuration for the EA3131 board"
        depends on SND_LPC313X_SOC
	select SND_LPC313X_SOC_I2S_UDA1380
	select SND_I2C1_CHANNEL_UDA1380
	select SND_I2S_RX1_MASTER
	select SND_I2S_TX1_MASTER
	select SND_CODEC_FS256
        help
          Say Y to configuration audio for the EA3131 board. The EA3131
	  board used the I2S1 channel with the UDA1380 audio CODEC and
	  I2C on channel 1.

config SND_USE_EA3152
	bool "Enable audio configuration for the EA3152 board"
	depends on SND_LPC315X_SOC
	select SND_LPC315X_SOC_I2S_LPC315X_CODEC
	select SND_I2C1_CHANNEL_LPC315X_CODEC
	select SND_I2S_RX1_MASTER
	select SND_I2S_TX1_MASTER
	select SND_CODEC_FS128
	help
		Say Y to configuration audio for the EA3152 board. The EA3152
		board uses the I2S1 channel with the Analog Die audio CODEC and
		I2C on channel 1.

config SND_I2C1_CHANNEL_UDA1380
	bool "I2C1 channel connected to the UDA1380"
	depends on SND_LPC313X_SOC_I2S_UDA1380
	help
	  Say Y here to use the I2C1 channel to communicate with the
	  UDA1380 CODEC. Not selecting this option will use I2C0.

config SND_I2C1_CHANNEL_LPC315X_CODEC
	bool "I2C1 channel connected to the Analog Die Audio CODEC"
	depends on SND_LPC315X_SOC_I2S_LPC315X_CODEC
	help
	  Say Y here to use the I2C1 channel to communicate with the
	  Analog Die Audio CODEC. Not selecting this option will use I2C0.

choice
	prompt "I2S RX channel configuration"
	depends on SND_LPC313X_SOC_I2S
	help
	  This menu selects the I2S RX (record) channel configurations

	config SND_I2S_RX0_MASTER
	bool "I2S RX0 master mode"
	help
	  Select this option to only used the I2S RX0 channel for
	  audio record in master mode.

	config SND_I2S_RX1_MASTER
	bool "I2S RX1 master mode"
	help
	  Select this option to only used the I2S RX1 channel for
	  audio record in master mode.

	config SND_I2S_RX0_SLAVE
	bool "I2S RX0 slave mode"
	help
	  Select this option to only used the I2S RX0 channel for
	  audio record in slave mode.

	config SND_I2S_RX1_SLAVE
	bool "I2S RX1 slave mode"
	help
	  Select this option to only used the I2S RX1 channel for
	  audio record in slave mode.

endchoice

choice
	prompt "I2S TX channel configuration"
	depends on SND_LPC313X_SOC_I2S
	help
	  This menu selects the I2S TX (playback) channel configurations

	config SND_I2S_TX0_MASTER
	bool "I2S TX0 master mode"
	help
	  Select this option to only used the I2S TX0 channel for
	  audio playback in master mode.

	config SND_I2S_TX1_MASTER
	bool "I2S TX1 master mode"
	help
	  Select this option to only used the I2S TX1 channel for
	  audio record in playback mode.

endchoice

choice
	prompt "WS clock divider"
	depends on SND_LPC313X_SOC_I2S && SND_LPC313X_SOC
	help
	  This divider is used to generate the WS rate from the CODEC
	  clock. The CODEC clock may or may not be generated by the LPC313x.
	  If it is, it is generated on the CLK_256FS pin. This divider is
	  usually a factor of 256, 384, 512, 768, or 1024 times the sample
	  frequency. Selected the correct multiplier here to have the audio
	  driver generate the correct clock rates for the audio CODEC.

	config SND_CODEC_FS256
	bool "CODEC clock is 256FS"

	config SND_CODEC_FS384
	bool "CODEC clock is 384FS"

	config SND_CODEC_FS512
	bool "CODEC clock is 512FS"

	config SND_CODEC_FS768
	bool "CODEC clock is 768FS"

	config SND_CODEC_FS1024
	bool "CODEC clock is 1024FS"

endchoice

choice
	prompt "WS clock divider"
	depends on SND_LPC313X_SOC_I2S && SND_LPC315X_SOC
	help
	  This divider is used to generate the WS rate from the CODEC
	  clock. The CODEC clock is generated by LPC315x digital Die.
	  It is generated on the CLK_256FS pin. This divider is
	  usually a factor of 128 times the sample frequency.
	  Selected the correct multiplier here to have the audio
	  driver generate the correct clock rates for the audio CODEC.

	config SND_CODEC_FS128
	bool "CODEC clock is 128FS"

endchoice

config SND_CODEC_NO_FS256_NEEDED
        bool "Disable the CLK_FS256 signals"
				depends on SND_LPC313X_SOC || SND_LPC315X_SOC
        help
          For audio CODECs that do not need the FS256 clock, enable this
	  option. These CODECs usually generate internal clocking based
	  on the BCK and ES signals from the LPC313X I2S signals.

config SND_USE_DMA_LINKLIST
        bool "Use a DMA linked list instead of a circular buffer"
	default y
				depends on SND_LPC313X_SOC || SND_LPC315X_SOC
        help
          The audio driver supports 2 DMA mode: circular buffer mode and
	  DMA linked list mode. This option lets you choose which mode to
	  use. DMA linked list mode is recommended.

