#
# LIRC driver(s) configuration
#
menuconfig INPUT_IR
	select CONFIGFS_FS
	tristate "Infrared Remote (IR) receiver/transmitter drivers"
	default n
	help
	  Say Y here, and all supported Infrared Remote Control IR
	  receiver and transmitter drivers will be displayed. The receiver drivers
	  allow control of your Linux system via remote control.

if INPUT_IR

config IR_GPT
	tristate "GPT Based IR Receiver"
	default m
	help
	  Driver for GPT-based IR receiver found on Digispeaker
	  
config IR_MCEUSB2
	tristate "Microsoft Media Center Ed. Receiver, v2"
	default m
	help
	  Driver for the Microsoft Media Center Ed. Receiver, v2

endif
