config SND_SOC_MPC8610_HPCD
	tristate "Freescale MPC8610 HPCD support"
	depends on SND_SOC && MPC8610_HPCD
	select SND_SOC_CS4270
	select SND_SOC_CS4270_VD33_ERRATA
	default y if SND_SOC && MPC8610_HPCD
	help
	  Say Y or M if you want to enable audio on the Freescale MPC8610 HPCD.
